.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 97%;
  height: 97%;
}

input {
  color: rgb(185, 185, 185);
  user-select: none;
  background: transparent;
  border: none;
  text-align: right;
  font-size: 6vw;
  margin-right: 13vw;
  margin-bottom: 8px;
  margin-top: 0;
  cursor:default;
}

input:focus {
  outline: none;
  text-align: right;
}

h1 {
  color: rgb(185, 185, 185);
  user-select: none;
  font-size: 18vw;
  margin: 0px;
  margin-bottom: 0;
}

.container12 {
  margin-top: 20vh;
  justify-content: center;
  display: flex;
  gap: 0;
  align-items: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

svg {
  color: rgb(185, 185, 185);
  width: 9vw;
  background: transparent;
}

button {
  position: absolute;
  top: 6vw;
  right: 6vw;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}

button:focus {
  background-color: #404040;
  padding-top: 5px;
}

html,
body,
#root {
  background-clip: padding-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  border: 2px solid #c19140;
  border-radius: 25px;
  background-color: #242424;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}